<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(fetchDataAndDrawChart);

      function fetchDataAndDrawChart() {
        fetch('/paris/')
          .then(response => response.json())
          .then(data => {
            drawChart(data);
          });
      }

      function drawChart(data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Température' });

        data.results.forEach(result => {
          var temperature = result.temp.toFixed(2); 
          dataTable.addRow([new Date(result.Jour * 1000), parseFloat(temperature)]);
        });

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
          title: "Températures à Paris",
          height: 350,
          colorAxis: {
            minValue: data.results.reduce((min, result) => Math.min(min, result.temp), Infinity), 
            maxValue: data.results.reduce((max, result) => Math.max(max, result.temp), -Infinity), 
            colors: ['#c7e9b4', '#41b6c4'] 
          }
        };

        chart.draw(dataTable, options);
      }
    </script>
  </head>
  <body>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
  </body>
</html>
